<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REEL NAME</title>
    <link rel="stylesheet" href="style/reel.css">
</head>
<body>
    
    <div class="container">

        <div class="user">
            <img src="images/user.png" alt="">
            <p>Radwan Gaber Hijazi</p>
        </div>

        <div class="img-cont">
            <img src="images/radwan.jpeg" alt="">
            <p class="text">text here</p>
            <div class="overlay"></div>
        </div>

        <div class="btns">
            <a href="#">التالي</a>
            <a href="#">السابق</a>
        </div>

    </div>

</body>
</html>