{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رفع فيديو</title>
    <link rel="stylesheet" href="{% static 'style/upload.css' %}">
</head>
<body>
    


    <div class="upload">

        <div class="img-cont">
            <!-- <img src="" alt=""> -->
            <p class="warning">اختر صورة من فضلك</p>
            
        </div>



    </div>
   
    <form class="controls" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" name="image" id="img" hidden>
        <button type="button" class="upload-btn" id="choose-img">أرفع الصورة</button>

        <select name="surah" id="surah_container">
            <option value="#" selected>اختر السورة</option>

            <!-- all surah based here -->
        </select>

        
        
        <select name="verse" id="choose_verse">
            <option value="#" selected>اختر الاية</option>
            <!-- <option value="بسم الله الرحمن الرحيم الحمد لله رب العالمين الرحمن الرحيم" >verse_based_here</option> -->

            <!-- all surah based here -->
        </select>



        <div class="in">
            <p>المحور س</p>
            <input type="range" id="x" min="0" max="100" value="50" name="x">
        </div>

        <div class="in">
            <p>المحور ص</p>
            <input type="range" id="y" min="0" max="100" value="50" name="y">
        </div>
        
        <div class="in">
            <p>مقياس الصورة</p>
            <input type="range" name="scale" min="1" value="1" max="10" id="scale">
        </div>

        <div class="in">
            <p>حجم الخط</p>
            <input type="range" name="font_size" min="10" max="30" value="20" id="font_size">
        </div>

        <button class="submit" type="submit">نشر</button>



    </form>

    <script src="{% static 'js/upload.js' %}"></script>

    <script>


        var surah_container = document.getElementById('surah_container')

        async function logSurah() {
            const response = await fetch("{{main_url}}/quran/surah/");
            const all_surah = await response.json();
            
            all_surah.forEach(surah=>{

                var name = surah.name;
                var id = surah.id;

                var option = document.createElement('option');
                option.setAttribute('value',id);
                option.textContent = name;

                surah_container.appendChild(option)


                
        })
        }
    
        logSurah();
    

        var choose_verse = document.getElementById('choose_verse');
        async function logAya(ayah_id) {
            const response = await fetch("{{main_url}}/quran/surah/" + ayah_id + '/');
            const verses = await response.json();
            
            choose_verse.innerHTML = '';
            verses.forEach(ver =>{
                var name = ver.text;
                var id = ver.id;

                var option = document.createElement('option');
                option.setAttribute('value',id);
                option.textContent = name;

                choose_verse.appendChild(option)
            })
        }

        surah_container.addEventListener('change',function(){
            logAya(surah_container.value);
        })

        if ("{{error}}"){
            alert("{{error}}")
        }
    </script>

    
</body>
</html>