{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <title>الرئيسية</title>
</head>
<body>
    
    <div class="up">
        
        <div class="user">
            <img src="{{main_url}}{{user.picture}}" alt="">
            <p>{{user.full_name}}</p>
        </div>

        <div class="btns">
            <a href="{% url 'logout' %}" class="logout">تسجيل الخروج</a>
            <a href="{% url 'upload' %}" class="upload">انشاء فيديو</a>
        </div>

    </div>

    <div class="reels">

        {% for reel in reels %}
            <div class="reel">
                <img src="{{main_url}}{{reel.image.img}}" alt="">
                <p>{{reel.user.full_name}}</p>
                <a href="{% url 'reel' reel.uuid %}">مشاهدة</a>
            </div>
        {% endfor %}
        
    </div>

</body>
</html>