<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <title>الرئيسية</title>
</head>
<body>
    
    <div class="up">
        
        <div class="user">
            <img src="images/user.png" alt="">
            <p>Radwan Gaber Hijazi</p>
        </div>

        <div class="btns">
            <a href="#" class="logout">تسجيل الخروج</a>
            <a href="#" class="upload">انشاء فيديو</a>
        </div>

    </div>

    <div class="reels">

        <div class="reel">
            <img src="images/user.png" alt="">
            <p>Radwan Gaber</p>
            <a href="#">مشاهدة</a>
        </div>
        
    </div>

</body>
</html>